<header class="clearfix">

  <h1>Graphorum</h1>

  <% if (everyauth.loggedIn) { %>
  <ul class="nav pull-right">
    <li><a href="/logout">Logout</a></li>
  </ul>
  <% } else { %>
  <ul class="nav pull-right">
    <li><a href="/login">Login</a></li>
    <li><a href="/register" class="last">Register</a></li>
  </ul>
  <% } %>

</header>

<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#">Library</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#">Data</a>
  </li>
</ul>

<section>